<%= form_tag oauth_application_path(application) do %>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn red" onclick="return confirm('確定刪除？')" ><i class="material-icons left">delete_forever</i>刪除</button>
<% end %>
