/*
*= require material_icons
*/
@import "materialize";
.code {
  overflow-x: auto;
}
.card {
  max-width: 100%;
}
.side-nav li > a {
  padding: 0px 16px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer .page-footer {
  margin-top: 0px;
}
.btn-menu {
  padding: 0 15px;
  color: #fff;
  background-color: transparent;
  border: none;
  transition: background-color .3s;
}
.btn-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
